// Puri website me jo color use krege vo isme honge
// variables bnaege

$first: white;
$second: #090c31; // dark navy blue
$third: #5853ff; // purple
$dark: rgb(44, 44, 44); // black
$text1: "Roboto";
$text2: cursive;
